{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
About Us
{% endblock %}

{% block content %}
<h1 class="display-2 text-center">About us</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae quidem enim commodi dicta officia rem
                ab, ad quisquam facilis sapiente cumque ea soluta repellat quasi, nesciunt exercitationem maxime
                voluptatem.</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sequi? Ab, impedit blanditiis deleniti
                animi, aspernatur quidem, provident delectus distinctio autem eveniet quae cupiditate nobis quo veniam
                ipsam eum maiores!
            </p>
        </div>
    </div>
</div>
{% endblock %}