{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="full-screen-image">
        <div class="inner">
            <h4 class="container">
                <div class="row">
                    <div class="col">
                        <h4 class="mx-auto display-4 inner-header">Check out the new stuff yo</h4>

                        <a id="show-products" class="mt-2 btn btn-outline-black products-button btn-xl">View products</a>

                        <p id="data"></p>
                    </div>
                </div>
            </h4>
        </div>
    </div>


    <!-- Image by <a
        href="https://pixabay.com/users/stocksnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2618897">StockSnap</a>
    from <a
        href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2618897">Pixabay</a>
    -->


{% block postloadjs %}
{% endblock %}

{% endblock %}