{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Home
{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col main-top text-center">

            <h1 class="uppercase display-2 text-white">Shopping hub</h1>
            <h1 class="black-outline display-3">Check out the new <a class="black-outline" href="">deals</a></h1>

            <a href="{% url 'products' %}" class="mt-4 btn btn-primary products-button btn-xl">View products</a>

        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-6 col-md-3">
            <div class="box">
                <form action="{% url 'products' %}" method="post">
                    <a class="category-button">
                        {% csrf_token %}
                        <img style="width: 100%; height: 200px;"
                        src="https://an-interesting-website.s3.amazonaws.com/media/electronics.jpg"
                        alt="Category Image">
                        <input type="hidden" name="category" value="electronics">
                        <span><h1>Electronics</h1></span>
                    </a>
                </form>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="box">
                <form action="{% url 'products' %}" method="post">
                    <a class="category-button">
                        {% csrf_token %}
                        <img style="width: 100%; height: 200px;"
                        src="https://an-interesting-website.s3.amazonaws.com/media/mens_clothing.jpg"
                        alt="Category Image">
                        <input type="hidden" name="category" value="clothing">
                        <span><h1>Clothing</h1></span>
                    </a>
                </form>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="box">
                <form action="{% url 'products' %}" method="post">
                    <a class="category-button">
                        {% csrf_token %}
                        <img style="width: 100%; height: 200px;"
                        src="https://an-interesting-website.s3.amazonaws.com/media/garden.jpg"
                        alt="Category Image">
                        <input type="hidden" name="category" value="home_garden">
                        <span><h1>Home / Garden</h1></span>
                    </a>
                </form>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="box">
                <form action="{% url 'products' %}" method="post">
                    <a class="category-button">
                        {% csrf_token %}
                        <img style="width: 100%; height: 200px;"
                        src="https://an-interesting-website.s3.amazonaws.com/media/jewelery.jpg"
                        alt="Category Image">
                        <input type="hidden" name="category" value="jewelery">
                        <span><h1>Jewelery</h1></span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h3 class="uppercase" style="font-family: 'Montserrat', sans-serif;">Shopping Hub</h3>
            <p>
                A website designed to make buying and selling easy!
                <br>
                Our roots are in the sale of electronic goods but since then we have branched out into an online marketplace.
                <br>
            </p>
            {% if user.is_authenticated %}
            <div class="btn-group">
                <a class="btn" href="{% url 'user_profile' user.id %}">View Profile</a>
                <a class="btn" href="">My Orders</a>
            </div>
            {% else %}
            <p><a href="{% url 'account_login' %}">Sign in</a> or <a href="{% url 'account_signup' %} ">Create a profile
                    in minutes</a> to list products for sale and save your order history</p>
            {% endif %}
        </div>
    </div>
</div>

<hr class="w-80">

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Top Products</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- Slideshow from w3 schools -->
            <div class="slideshow-container">
                {% for product in topProducts %}
                <div class="top-product-slide">
                    <div class="card">
                        <div class="card-body">
                            <div>{{ forloop.counter }}</div>
                            <div class="text-center">
                                <a href="{% url 'productdetails' product_id=product.pk %}">
                                    <img class="top-product-image" src="{{ product.image }}" alt="Product Image">
                                    <p>{{ product.title }}</p>
                                </a>
                            </div>
                            <p>{{ product.description }}</p>
                            <p>£{{ product.price }}</p>
                            <p>
                                Rating: {{ product.rate }}
                                <br>
                                Number of reviews: {{ product.count }}
                            </p>
                            <div class="text-center">
                                <p><a class="btn btn-primary" href="{% url 'productdetails' product.pk %}">View
                                        Product</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <a class="btn prev" onclick="plusSlides(-1)">&#10094;</a>

                <a class="btn next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.category-button').each(function () {
        $(this).click(function () {
            let form = $(this).parent();
            form.submit();
        })
    })

    var slideIndex = 1;
    slideShow(slideIndex);

    function plusSlides(n) {
        slideIndex += n;
        slideShow(slideIndex);
    }

    function slideShow(n) {
        var i;
        var slides = document.getElementsByClassName('top-product-slide');
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }
</script>
{% endblock %}