{% extends "base.html" %}
{% load static %}

{% block extra_title %}
Home
{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col main-top text-center text-white">

            <h1 class="uppercase display-3">Shopping hub</h1>
            <p class="text-xl">Check out the new <a class="text-white" href="">deals</a></p>

            <a href="{% url 'products' %}" class="mt-4 btn btn-primary products-button btn-xl">View products</a>

        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-6 col-md-3">
            <div class="box">
                <form action="{% url 'products' %}" method="post">
                    <a class="category-button">
                        {% csrf_token %}
                        <img style="width: 100%; height: 200px;"
                        src="https://an-interesting-website.s3.amazonaws.com/media/electronics.jpg"
                        alt="Category Image">
                        <input type="hidden" name="category" value="electronics">
                        <span><p class="text-muted uppercase">Electronics</p></span>
                    </a>
                </form>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="box">
                <form action="{% url 'products' %}" method="post">
                    <a class="category-button">
                        {% csrf_token %}
                        <img style="width: 100%; height: 200px;"
                        src="https://an-interesting-website.s3.amazonaws.com/media/mens_clothing.jpg"
                        alt="Category Image">
                        <input type="hidden" name="category" value="clothing">
                        <span><p class="text-muted uppercase">Clothing</p></span>
                    </a>
                </form>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="box">
                <form action="{% url 'products' %}" method="post">
                    <a class="category-button">
                        {% csrf_token %}
                        <img style="width: 100%; height: 200px;"
                        src="https://an-interesting-website.s3.amazonaws.com/media/garden.jpg"
                        alt="Category Image">
                        <input type="hidden" name="category" value="home_garden">
                        <span><p class="text-muted uppercase">Home / Garden</p></span>
                    </a>
                </form>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="box">
                <form action="{% url 'products' %}" method="post">
                    <a class="category-button">
                        {% csrf_token %}
                        <img style="width: 100%; height: 200px;"
                        src="https://an-interesting-website.s3.amazonaws.com/media/jewelery.jpg"
                        alt="Category Image">
                        <input type="hidden" name="category" value="jewelery">
                        <span><p class="text-muted uppercase">Jewelery</p></span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h3 class="uppercase" style="font-family: 'Montserrat', sans-serif;">Shopping Hub</h3>
            <p>
                A website designed to make buying and selling easy!
                <br>
                Our roots are in the sale of electronic goods but since then we have branched out into an online marketplace.
                <br>
            </p>
            {% if user.is_authenticated %}
            <div class="btn-group">
                <a class="btn text-info" href="{% url 'user_profile' user.id %}">View Profile</a>
                <a class="btn text-info" href="">My Orders</a>
                <a class="btn text-info" href="">Manage My Shop</a>
            </div>
            {% else %}
            <p><a href="{% url 'account_login' %}">Sign in</a> or <a href="{% url 'account_signup' %} ">Create a profile
                    in minutes</a> to list products for sale and save your order history</p>
            {% endif %}
        </div>
    </div>
</div>

<hr class="w-80">

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Top Products</h2>
        </div>
    </div>

    <div class="row">
        {% for product in top_products %}
            <div class="col-6 col-md-3">
                <div class="top-product-box">
                    <a href="{% url 'productdetails' product_id=product.pk %}">
                        <img class="top-product-image" src="{{ product.image }}" alt="Product Image">
                    </a>
                    <div>
                        <p class="text-muted uppercase">{{ product.title|upper }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="btn" href="{% url 'products' %}">View All Top Products</a>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.category-button').each(function () {
        $(this).click(function () {
            let form = $(this).parent();
            form.submit();
        })
    })

    var slideIndex = 1;
    slideShow(slideIndex);

    function plusSlides(n) {
        slideIndex += n;
        slideShow(slideIndex);
    }

    function slideShow(n) {
        var i;
        var slides = document.getElementsByClassName('top-product-slide');
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }
</script>
{% endblock %}