{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Checkout | Bank Details
{% endblock %}

<script src="{% static 'checkout/js/checkout.js' %}"></script>

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col p-4">
            <div class="header-images">
                <div class="header-text text-center">
                    <h1 class="display-5">Confirm Bank Details</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Display a payment form -->
            
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}