{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Checkout
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="header-images">
                <div class="header-text text-center"><h1 class="display-4">Checkout</h1></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col p-4 m-4 mb-0">
            <table style="width: 100%;" class="table table-bordered table-sm table-responsive-lg">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Size</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Item Price</th>
                        <th scope="col">Item Total</th>
                    </tr>
                </thead>
                {% for item in items %}
                <tr>
                    <th scope="row">
                        {{ forloop.counter }}
                    </th>
                    <td>
                        {{ item.product.title|title }}
                    </td>
                    <td>
                        {% if item.size %}
                        {{ item.size }}
                        {% else %}
                        N/a
                        {% endif %}
                    </td>
                    <td>
                        {{ item.quantity }}
                    </td>
                    <td>
                        £{{ item.price }}
                    </td>
                    <td>
                        £{{ item.product_total }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            
        </div>
    </div>

    <div class="row mb-4">
        <div class="col text-center border mb-4">
            <p class="text-center mt-2">
                Subtotal: £{{ total|floatformat:2 }}
                <br>
                Grand Total: {% if delivery_cost %}£{{ total|add:delivery_cost|floatformat:2 }}{% else %}£{{ total|floatformat:2 }}{% endif %}
            </p>
            <a class="btn btn-primary w-100 m-2" href="{% url 'shopping_bag' %}">Edit bag</a>
            <a class="btn btn-success w-100 m-2" href="{% url 'delivery_details' %}">Continue to Delivery Details</a>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}