{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Order Summary
{% endblock %}

{% block content %}
<div class="container mb-4">
    <div class="row">
        <div class="col p-4">
            <div class="header-images">
                <div class="header-text text-center">
                    <h1 class="display-5">Order Summary</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h3>Delivery Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <td>
                        Address Line 1:
                    </td>
                    <td>
                        {{ address_details.1.address_line_1 }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Address Line 2:
                    </td>
                    <td>
                        {{ address_details.1.address_line_2 }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Town:
                    </td>
                    <td>
                        {{ address_details.1.town }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Post Code:
                    </td>
                    <td>
                        {{ address_details.1.postcode }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Email Address:
                    </td>
                    <td>
                        {{ address_details.1.email }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone Number:
                    </td>
                    <td>
                        {{ address_details.1.phone }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Items:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Size</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Item Price</th>
                        <th scope="col">Item Total</th>
                    </tr>
                </thead>
                {% for item in items %}
                <tr>
                    <th scope="row">
                        {{ forloop.counter }}
                    </th>
                    <td>
                        {{ item.product.title|title }}
                    </td>
                    <td>
                        {% if item.size %}
                        {{ item.size }}
                        {% else %}
                        N/a
                        {% endif %}
                    </td>
                    <td>
                        {{ item.quantity }}
                    </td>
                    <td>
                        £{{ item.price }}
                    </td>
                    <td>
                        £{{ item.product_total }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <form method="POST" action="{% url 'create_checkout_session' %}">
                {% csrf_token %}
                <button type="submit" id="checkout-button" class="btn btn-success">Proceed with order</button>
            </form>
            
        </div>
    </div>
</div>



{% endblock %}