{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Success!
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                We appreciate your business! If you have any questions, please email
                <a href="mailto:mikewalters1234@gmail.com">mikewalters1234@gmail.com</a>.
            </p>
            <p>
                Your confirmation email should arrive shortly.
            </p>
        </div>
    </div>
</div>