@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#scroll-top {
    position: fixed;
    height: 50px;
    width: 30px;
    background-color: black;
    color: #fff;
    top: 70%;
    z-index: 100;
    display: none;
    padding-top: 10px;
    padding-left: 5px;
}

#scroll-top:hover {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p, a, label, li {
    font-family: 'Oswald', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.text-lg {
    font-size: x-large;
}

.text-xl {
    font-size: xx-large;
}

label {
    font-size: large;
}

.w-10 {
    width: 10vw;
}

.w-80 {
    width: 80vw;
}

.h-10 {
    height: 10vh;
}

.h-15 {
    height: 15vh;
}

.btn-container a {
    width: 150px;
}

.pointer {
    cursor: pointer;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.brand-icon {
    font-size: xx-large !important;
    margin-left: 2rem !important;
}

.secondary-nav {
    width: 100vw;
    margin-top: 10px;
}

.main-top {
    border-top: 3px solid black;
    width: 100vw!important;
    background-repeat:round;
    background-size: cover;
    height: 60vh;
    background-image: url('../images/clothes-1839935_1280.jpg');
}

.header-images {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-image: url('/static/images/banner.jpg');
}

.header-text {
    position: relative;
    top: 10%;
    color: #fff;
}

.box {
    height: 100%;
    width: 100%;
}

.category-button:hover {
    cursor: pointer;
}

.top-product-image {
    height: 200px;
    width: 100%;
}

.btn-outline-black {
    border: 1px solid black;
    width: 150px;
}

.btn-outline-primary:hover {
    color: white !important;
}

.btn-outline-black:hover,
.btn-outline-black:focus {
    border: none;
    background-color: black;
    color: white;
}

.profile-dropdown {
    border: 1px solid black;
}

.prev:hover, .next:hover {
    background-color: black;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 100000;
}

.next {
    right: 0;
    margin-right: 10px;
    border-radius: 3px 0 0 3px;
}

.category-card {
    padding-top: 50%;
    z-index: 100;
}

.full-product-image {
    width: 100%;
    height: 400px;
}

#plus:hover,
#minus:hover {
    cursor: pointer;
}

.summary-table {
    width: 100%;
}

.info-background {
    background-color: #17a2b8;
}

.shopping-bag {
    background-color: rgb(241, 239, 239);
}

.item-container {
    margin-bottom: 1rem;
}

.total-container {
    padding: 10px;
    margin-bottom: 1rem;
}

.total-container, .item-container {
    background-color: #fff;
    border: 1px solid black;
}