{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Shopping bag
{% endblock %}

{% block content %}
<div class="shopping-bag">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-images">
                    <div class="header-text text-center">
                        <h1 class="display-5">Shopping bag</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 {% if items %}col-lg-6{% endif %}">
                        {% if items %}
                        {% for item in items %}
                        <div class="item-container">
                            <img src="{{ item.product.image }}" class="img-thumbnail"
                                style="width: 25%; height: 100px; border: 0;">
                            <p style="display: inline; margin-bottom: 50%;">
                                {{ item.product.title }}
                                <span class="mb-2">
                                    <strong>£{{ item.price }}</strong>
                                    <div class="text-center">
                                        <form method="POST" class="amend-bag"
                                            action="{% url 'amend_bag' item.product.pk %}">
                                            {% csrf_token %}
                                            {% if item.size %}
                                            <input type="hidden" name="size" value="{{ item.size }}">
                                            {% endif %}
                                            <div class="input-group mb-2">
                                                Quantity:
                                                <span class="input-group-text" id="minus"><i
                                                        class="fas fa-minus"></i></span>
                                                <input style="width: 50px" type="text" id="quantity" name="quantity"
                                                    value="{{ item.quantity }}" min="0" max="99" aria-label="Quantity">
                                                <span class="input-group-text" id="plus"><i
                                                        class="fas fa-plus"></i></span>
                                            </div>
                                        </form>
                                    </div>
                                </span>
                                <br>
                            </p>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="text-center">
                            <p>Your bag is empty</p>
                            <p><a href="{% url 'products' %}">Continue Shopping</a></p>
                        </div>
                        {% endif %}
                    </div>
                    {% if items %}
                    <div class="col">
                        <div class="total-container">
                            <div class="row">
                                <div class="col text-center">
                                    {% if items %}
                                    <a style="width: 100%;" class="btn btn-primary" href="{% url 'checkout' %}">Proceed to checkout</a>
                                    {% endif %}
                                    <a style="width: 100%; margin-top: 1rem;" class="btn btn-light"
                                        href="{% url 'products' %}">Continue Shopping</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <h4>Items ({% if items %}{{ items|length }}{% else %}0{% endif %}):</h4>
                                    <h4>Delivery:</h4>
                                    {% if delivery_details == '{}' %}
                                        <form action="{% url 'shopping_bag' %}" method="post">
                                            <ul class="list-unstyled">
                                                {% csrf_token %}
                                                <li>
                                                    <input onclick="this.form.submit();" type="checkbox" name="delivery" value="Next Day">
                                                    <label for="delivery">Next day delivery: £10</label>
                                                </li>
                                                <li>
                                                    <input onclick="this.form.submit();" type="checkbox" name="delivery" value="3 - 5">
                                                    <label for="delivery">3 - 5 Working days: £7</label>
                                                </li>
                                                <li>
                                                    <input onclick="this.form.submit();" type="checkbox" name="delivery" value="10+">
                                                    <label for="delivery">10+ Working days: £3</label>
                                                </li>
                                            </ul>
                                        </form>
                                    {% endif %}
                                </div>
                                <div class="col mt-2">
                                    <h4>£{{ total|floatformat:2 }}</h4>
                                    {% if delivery_cost == 0 %}
                                        <h4>Free Delivery</h4>
                                    {% elif total > 50 %}
                                        <h4>Free Delivery</h4>
                                    {% else %}
                                        <h4>£{{ delivery_details.cost }}</h4>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('#minus').click(function () {
        let value = parseInt($(this).next('#quantity').val());
        if (value != 0) {
            value -= 1;
            $(this).next().val(value);
            $(this).parent().parent().submit();
        }
    })

    $('#plus').click(function () {
        let value = parseInt($(this).prev('#quantity').val());
        if (value != 99) {
            value += 1;
            $(this).prev().val(value);
            $(this).parent().parent().submit();
        }
    })
</script>
{% endblock %}