{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  <!-- Bootstrap CSS -->
  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
  <!-- <link rel="stylesheet" href="https://an-interesting-website.s3.amazonaws.com/static/css/base.css"> -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block corejs %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/7e5b0bd132.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous">
  </script>
  {% endblock %}

  {% block extra_js %}
  <script src="https://an-interesting-website.s3.amazonaws.com/static/js/scripts.js"></script>
  {% endblock %}

  <title>An interesting website | {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <!-- Header -->
  {% block header %}
  <nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class="container-fluid">

      <!-- Logo from https://fontawesome.com/v5.15/icons -->
      <a class="navbar-brand" href="{% url 'home' %}">
        <img
          src="https://img.icons8.com/external-tulpahn-flat-tulpahn/48/000000/external-gift-ecology-tulpahn-flat-tulpahn.png" />
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <!-- Search form -->
        <span class="mx-auto">
          <form class="form" action="{% url 'products' %}" methods="GET">
            <div class="input-group">
              <input class="form-control border border-black" type="text" name="q" placeholder="Search our site">

              <div class="input-group-append">
                <button class="form-control btn btn-black border border-black" type="submit">
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </span>

        <span class="mr-2">
          <a href="{% url 'shopping_bag' %}">
            {% if total %}
            £{{ total|floatformat:2 }}
            {% else %}
            £0.00
            {% endif %}

            <i class="fas fa-shopping-cart"></i>
          </a>
        </span>
        {% if user.is_authenticated %}
        <div class="btn-group">
            
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="visually-hidden"><i class="far fa-user-circle"></i></span>
          </button>

          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'user_profile' user.id %}">Profile</a>
            </li>
            <li>
              <a href="">My Orders</a>
            </li>
            <li>
              <a href="{% url 'account_logout' %}">Logout</a></li>
            </li>
          </ul>

        </div>
        {% else %}
        <ul class="float-right list-inline">
          <li class="list-inline-item">
            <a href="{% url 'account_login' %}">Login</a>
          </li>
          <li class="list-inline-item">
            <a href="{% url 'account_signup' %}">Signup</a>
          </li>
        </ul>
        {% endif %}

        <!-- Icon from https://systemuicons.com/ -->
        <!-- Profile links -->
        <!-- -->
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-light bg-light p-0">
    <div class="container">

      <ul class="list-inline mx-auto mt-0">
        <li class="list-inline-item">
          <div class="btn-group">
            
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
              aria-expanded="false">
              <span class="visually-hidden">Products</span>
            </button>

            <ul class="dropdown-menu">
              <li><a href="{% url 'add_product' %}">List a Product for sale</a></li>
              <li>
                <form id="products-form w-100" method="GET" action="{% url 'products' %}">
                  <select class="form-select" name="sort" onchange="this.form.submit()">
                    <option value="">-- Products --</option>
                    <option value="title">All Products (A - Z)</option>
                    <option value="-title">All Products (Z - A)</option>
                    <option value="-price">Products by Price (High - Low)</option>
                    <option value="price">Products by Price (Low - High)</option>
                  </select>
                </form>
              </li>
              <li>
                <form method="GET" action="{% url 'products' %}">
                  <select class="form-select w-100" name="category" onchange="this.form.submit()">
                    <option value="">-- Categories --</option>
                    {% for category in categories %}
                      <option value="{{ category.name }}">{{ category.friendly_name }}</option>
                    {% endfor %}
                  </select>
                </form>
              </li>
            </ul>

          </div>
        </li>
        
        <li class="list-inline-item">
          <a href="{% url 'deals' %}" class="btn">Deals</a>
        </li>
        <li class="list-inline-item">
          <a href="" class="btn">Gift Service</a>
        </li>
      </ul>

    </div>
  </nav>
  {% endblock %}

  <!-- Messages -->
  {% if messages %}
  <div class="message-container"></div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  <!-- Main section -->
  {% block content %}
  {% endblock %}

  <!-- Extra javascript -->
  {% block postloadjs %}
  {% endblock %}
</body>

</html>