{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Add Product
{% endblock %}

{% block content %}
<!-- <div class="fieldWrapper mx-auto">
    <table class="add-product-form mx-auto">
        {% for field in form %}
        {% if field.html_name in "image" %}
        <tr>
            <td>
                {{ field.errors }}
            </td>
        </tr>
        <tr>
            <td>
                {{ field.label_tag }}
            </td>
        </tr>
        <tr>
            <td>
                <input type="file" name="{{ field.name }}" class="{{ field.name }}" id="id_{{ field.name }}">
            </td>
        </tr>
        {% endif %}

        <tr>
            <td>
                {{ field.errors }}
            </td>
        </tr>
        {% if field.html_name in "description" %}
        <tr>
            <td>
                {{ field.label_tag }}
            </td>
        </tr>
        <tr>
            <td>
                {{ field }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td>
                {{ field.label_tag }} {{ field }}
            </td>
        </tr>
        {% endif %}

        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}

        {% endfor %}
    </table>
</div> -->

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1 class="display-4 bold">Add Product</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper float-left mt-4">
                    {{ form.subject.errors }}
                    <label for="{{ form.title.id_for_label }}">Title / Name:</label>
                    {{ form.title }}
                </div>
                <div class="fieldWrapper float-left">
                    {{ form.category.errors }}
                    <label for="{{ form.category.id_for_label }}">Category</label>
                    {{ form.category }}
                </div>
                <div class="fieldWrapper float-left">
                    {{ form.description.errors }}
                    <label for="{{ form.description.id_for_label }}">Product Description: </label>
                    <p>
                        {{ form.description }}
                    </p>
                </div>
                <div class="fieldWrapper float-left">
                    {{ form.price.errors }}
                    <label for="{{ form.price.id_for_label }}">Price: </label>
                    £ {{ form.price }}
                </div>
                <div class="fieldWrapper float-left">
                    <label for="{{ form.image.id_for_label }}">Product Image: </label>
                    <input type="file" name="image" id="{{ form.image.id_for_label }}">
                </div>
                <div class="fieldWrapper float-left">
                    <input type="hidden" name="username" value="{{ username }}">
                    <input type="submit" value="Add product">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}

{% endblock %}