{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
Products
{% endblock %}

{% block content %}

<h1 class="display-3 pl-2 mb-2 text-center">Products</h1>

<div class="text-center mb-2">
    <a href="{% url 'add_product' %}">List an item for sale</a>
</div>

<div class="text-center btn-container text-white">
    <a class="btn btn-sm btn-primary" onclick="showHideSort()">Sort</a>
</div>

<div class="sort-container text-center mt-4">
    <form method="GET">
        <label for="sort">Sorting</label>
        <select class="form-select" name="sort" aria-label="Sort">
            <option selected value="{{ sort }}">Product {{ sort }} ascending</option>
            <option value="-title">Product title ascending</option>
            <option value="category__name">Category descending</option>
            <option value="-category__name">Category Ascending</option>
            <option value="price">Price descending</option>
            <option value="-price">Price</option>
        </select>

        <ul class="list-inline-group">
            <li class="list-inline-item">
                <a class="btn btn-sm" href="{% url 'products' %}">Clear Sorting</a>
            </li>
            <li class="list-inline-item">
                <input class="btn btn-sm" type="submit" value="Search">
            </li>
        </ul>

    </form>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-3 pl-2">
            <h4>Your Selection</h4>
            <p class="text-muted">
                {% if selected %}
                    {{ selected }} <a href="{% url 'products' %}"><span class="icon">&times;</span></a>
                </p>
                {% else %}
                    All Products
                {% endif %}
            </p>
            <br>
            
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <strong>{{ products.count }} Products found</strong>
                </div>
            </div>
            <div class="row">
                {% for item in products %}
                <div class="col-12 col-md-6 mt-2 mb-4">
                    <div class="card">
                        <a href="{% url 'productdetails' product_id=item.pk %}">
                            <img style="width: 100%; height: 300px;" src="{{ item.image }}" alt="Product Image">
                        </a>
        
                        <div class="card-body">
                            <div class="card-header h-10">{{ item.title }}</div>
        
                            <p class="description mt-4 h-15">{{ item.description }}</p>
        
                            <a href="{% url 'productdetails' product_id=item.pk %}">Read More</a>
        
                            <p class="rating">
                                Rating: {{ item.rate }}
                                <br>
                                Number of reviews: {{ item.count }}
                            </p>
        
                            <form class="form" method="POST">
                                {% csrf_token %}
        
                                {% if user.is_authenticated %}
                                {% if item.pk in users_liked_products %}
                                <a class="liked" href="{% url 'unlike' item.pk user.id %}">
                                    <i class="fas fa-thumbs-up"></i>
                                </a>
                                {% else %}
                                <a class="unliked" href="{% url 'like' item.pk user.id %}">
                                    <i class="far fa-thumbs-up"></i>
                                </a>
                                {% endif %}
                                {% else %}
                                <a class="unliked" href="{% url 'account_login' %}">
                                    <i class="far fa-thumbs-up"></i>
                                </a>
                                {% endif %}
                            </form>
        
                            <div class="button-group text-center">
                                <a href="{% url 'productdetails' item.pk %}" class="btn btn-primary text-white">View item</a>
                            </div>
                            <p>
                                <form class="author-form" action="{% url 'products' %}" method="GET">
                                    <a class="author-button">
                                        Author / Owner: {{ item.author.username|title }}
                                        <input type="hidden" name="author" value="{{ item.author.username|title }}">
                                    </a>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col text-center">
                    <form id="more_products" action="{% url 'products' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="load_products" value="1">
                        <input class="btn" type="submit" value="Load More Products"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.categories-container').css('display', 'none');
    $('.sort-container').css('display', 'none');

    function showHideSort() {
        $('.sort-container').toggle();
        if ($('.categories-container').css('display', 'block')) {
            $('.categories-container').toggle();
        }
    }

    function moreless() {
        $('.description').each(function () {
            // Finds item description
            var itemDescription = ($(this).html());
            // Finds length of description
            var itemLength = itemDescription.length;
            // Pulls the first 150 characters of description
            var sub = itemDescription.substring(0, 150);
            // sets description to first 150 characters
            $(this).html(sub);
        })
    }

    $('.author-button').click(function () {
        $(this).prev('.author-form').submit();
    })

    moreless();

    $('#more_products').submit(function(){
        window.scrollTo(0,document.body.scrollHeight);
    })
</script>
{% endblock %}