/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.brand-icon {
    font-size: xx-large!important;
    margin-left: 2rem!important;
}

.secondary-nav {
    width: 100vw;
    margin-top: 10px;
}

.btn-outline-black{
    border: 1px solid black;
    width: 150px;
}

.btn-outline-black:hover, .btn-outline-black:focus {
    border: none;
    background-color: black;
    color: white;
}

.profile-dropdown {
    border: 1px solid black;
}

.full-screen-image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url('mike-meyers-v8XaVfyo41Q-unsplash.jpg');
    z-index: -100;
}